<div class="resource-site-cell">
  <div id="main" class="col-sm-9 col-md-10 main pull-right">
    <div class="panel panel-default col-sm-12">
      <div class="panel-head">
        <h3 class="text-warning resource-site-name">
          <span class="glyphicon glyphicon glyphicon-plus"></span> <%= link_to(resource_site.name, resource_site_path(resource_site)) %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <span class="glyphicon glyphicon glyphicon-map-marker"></span>
          <b>Address: </b>
          <span class="resource-site-address">
            <%= resource_site.address %>
          </span>
        </p>
        <p class="resource-site-description">
          <span class="glyphicon glyphicon glyphicon-info-sign"></span>
          <b>Details: </b>
          <%= resource_site.description%>
        </p>
        <p class="inline" id="resource-site-eligibility">
          <span class="glyphicon glyphicon glyphicon-tags"></span>
          <b>Eligibilty: </b>
          <%= link_to(Eligibility.find(resource_site.eligibility_id).eligibility,
              resource_sites_path+'?'+ "eligibilities[]=#{resource_site.eligibility_id}", method: :get, class: 'label label-default') %>
        </p>
      </div>
    </div>
  </div>
</div>
