<li class="resource-site-cell">
  <div class="resource-site-name">
    <%= link_to(resource_site.name, resource_site_path(resource_site)) %>
  </div>
  <div class="resource-site-address"><%= resource_site.address %></div>
</li>
