<% provide(:title, 'All Resource Sites') %>

<h1>All Resource Sites</h1>

<a href="<%= new_resource_site_path %>">Create a New Resource Site</a>
<ul class='resource-sites-list'>
  <%= render @resource_sites %>
</ul>
