/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*we'll be using navbar-fixed-top which will overlay the content, add padding to compensate the overlay*/
body { padding-top: 70px; }

/*The ul has padding by default, remove that for the resource sites list*/
ul.resource-sites-list,
ul.resource-sites-list li {
  margin-left:0;
  padding-left:0;
}

.show-container { max-width: 700px; }

.table-container { max-width: 300px; }

/*form related css*/
.form-custom {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: #eee;
}
.form-custom .form-custom-heading,
.form-custom .checkbox {
  margin-bottom: 10px;
}
.form-custom .checkbox {
  font-weight: normal;
}
.form-custom .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
.form-custom .form-control:focus {
  z-index: 2;
}
.form-custom input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-custom input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

